/* home */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear-fix {
    clear: both;
}

.home {
    background-image: url("../img/WhatsApp\ Image\ 2024-03-21\ at\ 1.32.16\ PM.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: auto;
  
}

.homestyle {

    padding-top: 150px;
    text-align: center;
    color: white;
    margin-top: 50px;

}

.nav {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
    top: 0%;

}

.nav-logo 
{
    float: left;
    width: 15%;
    margin-top: 10px;
}
.nav-logo img 
{
    max-width: 150px;
}

.nav-links ul {
    float: right;
    margin-top: 10px;
}

.nav-links ul li {
    padding: 15px;
    float: left;
    list-style: none;
    color: #F8F8F8;
    font-size: 110%;
}
.nav-links ul li a {
    color: #F8F8F8;
    text-decoration: none;
   
}

.clear-fix {
    clear: both;
}

.Square {
    background-color: #FFF;
    position: fixed;
    width: 3%;
    right: 0;
    border-radius: 5PX;
    top: 50%;


}

.Square-links ul {
    list-style: none;
    padding: 6px;
    box-shadow: 0px 13px 11px -3px #00000031;
}

.Square-links li i {
    font-size: 140%;
    margin-bottom: 20PX;
    color: #433A3A;

}

.homestyle p {
    margin: 20px;
    font-size: 23px;
}

.homestyle h1 {
    margin-bottom: 20px;
    font-size: 60px;
}

.homestyle .btn {

    color: white;
    padding: 17px;
    border-radius: 5px;
    font-size: 17px;
    margin: 20px 5px;
}

.homestyle .but1 {
    background-color: #8e7754;
    border-width: 0;
}

.homestyle .but2 {

    background-color: transparent;
    border: 2px solid white;
}

.about {
    background-color: #ffff;
    padding: 60px 0;
 
}

.about-img {
    width: 50%;
    float: left;

}

.about-img img {
    width: 90%;
}

.about-content {
    width: 50%;
    padding: 80px 0;
    float: left;
}

.about-content p {
    margin-bottom: 40px;
    color: #969696;
    margin-top: 30px;
    padding: 10px;
}

.about-content h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: xx-large;
    color: #403D38;
}

.about-content li {
    margin-bottom: 40px;
    list-style: none;
    color: #969696;
}

.about-content li i {
    margin-right: 20px;
    font-size: 140%;
    color: #8E7754;
}

.clear-fix {
    clear: both;
}

.Location {
    background-color: #F8F8F8;
    padding: 60px 0;

}

.Location-img {
    width: 50%;
    float: right;

}

.Location-img img {
    width: 100%;
}

.Location-content {
    width: 50%;
    padding: 100px 0;
    float: right;
    line-height: 200%;
    margin-bottom: auto;


}

.Location-content p {
    margin-bottom: 30px;
    color: #969696;
}

.Location-content h2 {
    margin-bottom: 30px;
    color: #403D38;
    font-size: xx-large;

}

.clear-fix {
    clear: both;
}

.parent {
    background-color: #ffff;
    padding: 60px 0;

}

.our {

    float: left;
    width: 33.33%;

}

.our-img {
    width: 90%;
    padding: 40px 18px;


}

.our-img img {
    width: 100%;
}

.our-text {
    width: 100%;
    padding: 5px 10px;
    text-align: center;

}


.our-content {
    width: 100%;
    padding: 30px 0;
    float: left;
    text-align: center;
}

.our-content p {
    margin-bottom: 10px;
    color: #686D71;
}

.our-content h2 {
    margin-bottom: 30px;
    color: #252422;
    font-size: xx-large;

}

.our-text h2 {
    margin-bottom: 20px;
    color: #252422;
}

.our-text p {
    margin-bottom: 40px;
    color: #686D71;
}

.clear-fix {
    clear: both;
}

.Contact {
    background-color: #F8F8F8;
    padding: 60px 0;

}




.Contact-map {
    width: 40%;
    float: right;
}

.Contact-content {
    width: 50%;
    float: left;
    line-height: 30px;
    margin-bottom: auto;
}

.Contact-content p {
    margin-bottom: 30px;
    color: #686D71;
}

.Contact-content h2 {
    margin-bottom: 20px;
    color: #403D38;
    font-size: xx-large;
}

.Contact-content li {
    margin-bottom: 30px;
    list-style: none;
    color: #686D71;

}

.Contact-content li i {
    font-size: 140%;
    color: #8E7754;
    margin-right: 20px;
}

.clear-fix {
    clear: both;
}

.listt {
    background-color: #403D38;
    padding: 60px 0;

}

.container {
    width: 90%;
    margin: auto;
}
.row{
   width: 25%;
   float: left;
   margin: auto;
}
.row p {
   margin: 30px  20px;
    color: #969696;
}

.row h4 {
    color: #F8F8F8;
    margin: 30px 20px;
    font-size: large;
}
.row ul {
    list-style: none;
    padding-left: 0;
    margin: 30px 20px;
}

.row ul li {
    margin-bottom: 25px;
    color: #969696;
}

.clear-fix {
    clear: both;
}
.bacery {
    background-color: #353330;
    padding: 60px 0;
}

.bacery-img img {
    max-width: 40%;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.bacery p {
    color: #757270;
    margin-bottom: 40px;
    text-align: center;
}

.icons {
    text-align: center;
    font-size: 40px;
    color: #757270;
    margin-right: 20px;

}