/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home {
        background-image: url("../img/WhatsApp\ Image\ 2024-03-21\ at\ 1.32.16\ PM.jpeg");
         width: 100vh;
         height: 100vh;
        background-size: cover;
        background-position: center;
        overflow: auto;
       
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        position: fixed;
        top: 0%;
        display: flex;
        justify-content: center;
    
    }
    .nav-logo {
        float: left;
        width: 100%;
    }
    .nav-links ul {
        float: right;
        width: 100%;
    }
    .about {
        background-color: #ffff;
        width: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
    }
    .about-img {
        width: 100%;
    }
    .about-content {
        width: 100%;
    }
    .Location {
        background-color: #F8F8F8;
        width: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
    }
    .Location-img {
        width: 100%;
    }
    .Location-content {
        width: 100%;
    }
    .our-content {
        width: 200%;
        text-align: center;
    }
    .our {
        width: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
.Contact {
    background-color: #F8F8F8;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .Contact-map {
        width: 100%;
    }
    .Contact-content {
        width: 100%;
    }

    .row {
        width: 100%;
    }
    .listt {
        background-color: #403D38;
        width:100vh ;
    
    }
    .bacery {
        background-color: #353330;
        width: 100vh;
    }
    

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .home {
        background-image: url("../img/WhatsApp\ Image\ 2024-03-21\ at\ 1.32.16\ PM.jpeg");
         width: 100%;
         height: 100vh;
        background-size: cover;
        background-position: center;
        overflow: auto;
       
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about-img {
        width: 90%;
    }
    .about-content {
        width: 90%;
    }
    .Location-img {
        width: 90%;
    }
    .Location-content {
        width: 90%;
    }
    .our {
        width: 90%;
    }
    .Contact-map {
        width: 90%;
    }
    .Contact-content {
        width: 90%;
    }
    .row {
        width: 90%;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .home {
        background-image: url("../img/WhatsApp\ Image\ 2024-03-21\ at\ 1.32.16\ PM.jpeg");
         width: 100%;
         height: 100vh;
        background-size: cover;
        background-position: center;
        overflow: auto;
       
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about-img {
        width: 70%;
    }
    .about-content {
        width: 70%;
    }
    .Location-img {
        width: 70%;
    }
    .Location-content {
        width: 70%;
    }
    .our {

        width: 50%;
    }
    .Contact-map {
        width: 70%;
    }
    .Contact-content {
        width: 70%;
    }
    .row {
        width: 50%;
        float: left;
        margin: auto;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home {
        background-image: url("../img/WhatsApp\ Image\ 2024-03-21\ at\ 1.32.16\ PM.jpeg");
         width: 100%;
         height: 100vh;
        background-size: cover;
        background-position: center;
        overflow: auto;
       
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about-img {
        width: 50%;
    }
    .about-content {
        width: 50%;
    }
    .Location-img {
        width: 50%;
    }
    .Location-content {
        width: 50%;
    }
 
    .our {
        width: 33.33%;
    }
    .Contact-map {
        width: 50%;
    }
    .Contact-content {
        width: 33.33%;
    }
    .row {
        width: 33.33%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .home {
        background-image: url("../img/WhatsApp\ Image\ 2024-03-21\ at\ 1.32.16\ PM.jpeg");
         width: 100%;
         height: 100vh;
        background-size: cover;
        background-position: center;
        overflow: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about-img {
        width: 50%;
    }
    .about-content {
        width: 50%;
    }
    .Location-img {
        width: 50%;
    }
    .Location-content {
        width: 50%;
    }
    .Contact-map {
        width: 40%;
    }
    .Contact-content {
        width: 50%;
    }
    .row {
        width: 25%;
    }

}